<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ABC Air</title>
</head>
<body>

<div class="Dashboard-container", align="center">
    <h1>ABC Air</h1>

    <div class="msg">{{ msg }}</div><br>

     <br><br>
    <table border = "0" cellpadding = "10" cellspacing = "10">
        <tr>
        <td>
            <a href = "\manageAirframes">
            <button style="height:75px;width:150px; background-color: #B3B6B7 ; border-color: #B3B6B7; color: #34495E" >
            Manage AirFrames</button></a>
        </td>
        <td>
            <a href = "\manageMaintenance">
            <button style="height:75px;width:150px; background-color: #B3B6B7 ; border-color: #B3B6B7; color: #34495E" >
            Manage Maintenance</button></a>
        </td>
        <td>
            <a href = "\manageEngineers">
            <button style="height:75px;width:150px; background-color: #B3B6B7 ; border-color: #B3B6B7; color: #34495E">
            Manage Engineers</button></a>
        </td>
        <td>
            <a href = "\newAdmin">
            <button style="height:75px;width:150px; background-color: #B3B6B7 ; border-color: #B3B6B7; color: #34495E" >
            Add New Admin</button></a>
        </td>
        </tr>
    </table><br><br><br>

    <button><a href="/logout">Log out</a></button>



</div>
</body>
</html>