<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
<div class="Dashboard-container", align="center">

    <h1>ABC Air</h1>

    <br><br>
    <form action="{{ url_for('login') }}" method="POST">

      Username: <input type = "text" name = "username" /><br><br>
      Password: <input type = "password" name = "password"/><br><br>
      <div class="msg">{{ msg }}</div><br>

         <input type="submit" value="Login">


    </form>

</div>
</body>
</html>