<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airframes</title>
</head>
<body>
<div class="Dashboard-container", align="center">

    <h1>Manage AirFrames</h1>

    <button><a href="/newAirframe">Add AirFrame</a></button>
    <button><a href="/updateAirframe">Update AirFrame</a></button>
    <button><a href="/deleteAirframe">Delete AirFrame</a></button>
    <button><a href="/home">Return to Homepage</a></button>
    <br><br>
    <form action="{{ url_for('get_airframes') }}" method="POST">

        <label for="emp-name">Aircraft Id:</label><br>
        <input type="text" id="emp-name" name="Id">
        <input type="submit" value="Search AirFrames"><br><br><br>




    </form>

    <br><div class="msg">{{ msg }}</div><br>

</div>
</table><br><br><br>
<table border="1" cellpadding="5" cellspacing="5" align="center">
    <thead>
    <td>Aircraft Id</td>
    <td>Aircraft Model</td>
    <td>Flight Hours</td>
    <td>Scheduled Maintenance</td>
    </thead>
    {% for row in rows %}
    <tr>
        {% for data in row %}
        <td>{{ data }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
<br><br>


</body>
</html>